<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inicio</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand navbar-link" href="/">Tienda</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="smartphones">Smartphones</a></li>
                <li role="presentation"><a href="traspasos">Traspasos</a></li>
                <li role="presentation"><a href="reservaciones">Reservaciones</a></li>
                <li role="presentation"><a href="adquisiciones">Adquisiciones</a></li>
                <li role="presentation"><a href="ventas">Ventas </a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container" style="padding:10px; padding-top:50px;">
    <div class="jumbotron">
        <h1>Tienda de Smartphones</h1>
        <h2>Sucursal Xalapa Norte</h2>
        <p class="text-left">Bienvenido al Sistema Web de la sucursal Xalapa Norte. Este sistema le ayudará a poder gestionar sus smartphones, hacer pedidos a otras tiendas y ha ver las reservas de sus clientes.</p>
        <p></p>
    </div>
</div>
<div class="container">
    <section class="testimonials">
        <h2 class="text-center">Tienda de Smartphones</h2>
        <blockquote>
            <p class="text-center">Este sistema facilitará las tareas de los empleados</p>
            <footer class="hidden">Caracteristicas</footer>
        </blockquote>
    </section>
</div>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Caracteristicas del Sistema</h2>
                <p>Este sistema tiene diversas caracteristicas que lo ayudarán día a día en las actividades de su negocio.</p>
            </div>
            <div class="col-md-6">
                <div class="row icon-features">
                    <div class="col-xs-4 icon-feature">
                        <p><strong>Tecnologias utilizadas:</strong></p>
                    </div>
                    <div class="col-xs-4 icon-feature">
                        <p>Spring Boot</p>
                    </div>
                    <div class="col-xs-4 icon-feature">
                        <p>Hybernet y MySQL</p>
                    </div>
                </div>
                <div class="row icon-features">
                    <div class="col-xs-4 icon-feature">
                        <p></p>
                    </div>
                    <div class="col-xs-4 icon-feature">
                        <p>Bootstrap</p>
                    </div>
                    <div class="col-xs-4 icon-feature">
                        <p>JQuery y DataTables</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr></hr>
<footer style="background-color:black;padding:1px">
    <h6 class="text-left" style="color:white">©Copyright - All Rights Reserved </h6></footer>

</body>
</html>