<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reservaciones</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/sweetalert.css"/>
    <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css"/>

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/sweetalert.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.dataTables.min.js"></script>

    <script src="../static/js/tienda.reservacion.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand navbar-link" href="../inicio">Tienda</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="../smartphones">Smartphones</a></li>
                <li role="presentation"><a href="../traspasos">Traspasos </a></li>
                <li class="active" role="presentation"><a href="../reservaciones">Reservaciones </a></li>
                <li role="presentation"><a href="../adquisiciones">Adquisiciones</a></li>
                <li role="presentation"><a href="../ventas">Ventas </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron" style="padding:10px; padding-top:50px;">
    <h3>Bienvenido a la sección para ver las reservaciones realizadas por los clientes desde la aplicación movil
        <button class="btn btn-info btn-xs" type="button" data-toggle="collapse" data-target="#informacion">mas
            información
        </button>
    </h3>
    <div id="informacion" class="collapse">
        <p>Puede hacer clic sobre los encabezados para ordenar los datos de forma ascendente
            o descendente, así como también puede cambiar el número de datos que desea que se
            muestren y por último pude ingresar palabras clave en el campo de búsqueda para encontrar
            las coincidencias.</p>
    </div>
</div>

<div class="container">
    <h3><strong>Lista de Reservaciones</strong></h3>
    <div class="table-responsive">
        <table id="tablaReservaciones" class="display table table-hover table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="btn-primary">Marca</th>
                <th class="btn-primary">Modelo</th>
                <th class="btn-primary">Precio</th>
                <th class="btn-primary">Usuario</th>
                <th class="btn-primary">Fecha</th>
                <th class="btn-primary">Opciones</th>
            </tr>
            </thead>
            <tbody id="tDatos">
            </tbody>
        </table>
    </div>
</div>
</body>
</html>